__pycache__
booklist/__pycache__/*
utility/databasecredentials.json
booklist
config/dbconnectors.cnf
.ipynb_checkpoints
amazonbook_spider/amazonbook_spider/utility/databasecredentials.json
Untitled.ipynb
